body {
    background-color: #E8E8E8;
}

.App {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.title {
  padding: 5px;
  text-align: center;
  color:  white;
  font-size: .5em;
  height: 30px;
}

span {
  display: inline-block;
}

p{
  display: inline-block;
}


.Column {
  width: 20%;
}

.Card {
  color: #696969;
  position: relative;
  text-align: center;
  background-color: white;
  padding-top: 14px;
  margin-top: 5px;
}

.Card:last-Child{
  margin-bottom: 5px;
}

.rspan {
  font-size: 30px;
  position: absolute;
  right: 0px;
  top: 25%;
  margin-right: 8px;
  margin-left: 12px;
}


.lspan {
  font-size: 30px;  
  position: absolute;
  left: 0px;
  top: 25%;
  margin-left: 8px;
  margin-right: 12px;
}

button {
  margin-top: 5px;
  border: none;
  background-color: #E8E8E8;
  color: #767670;
  font-size: 18px;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  width: 20px;
  font-size: 15px;
}

.delete:hover {
  background-color: red;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}